//FICHIER DE CONFIGURATION POUR LES ÉLÉMENTS TITRE DE LA PAGE


h1, h2, h3, h4, h5, h6{
    font-family: $ff-title;
    line-height: $lh-thin;
    font-weight: $fw-bold;
    text-transform: uppercase;
  }
  
  h1{
    font-size: $fz-h1;
  }
  
  h2{
      font-size: $fz-h2;
  }
  
  h3{
    font-size: $fz-h3;
  }
  
  h4{
    font-size: $fz-h4;
  }